<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAME OVER</title>
    <link rel="shortcut icon" href="static/img/all3D.png" type="image/x-icon">
</head>
<body style="background-color: black;text-align: center;">
    <h1 style="color: white;">HAS PERDIDO... MEJOR DICHO, TE HAS PERDIDO</h1>
    <a style="font-size: 44px; text-decoration: none;color: red;" href="/reset">VOLVER A INTENTAR</a>
</body>
</html>